@model VehicleManagement.Models.Vehicle
@{
    ViewBag.Title = Model.Plate;
}

<div class="container">
    <div class="row">
        <div class="col-md-12 order-md-1">
            <h3 class="mb-3">Dados do Veículo</h3>
            <hr class="mb-4">
            <form class="needs-validation" action="@Url.Action("Save", "Vehicles")" method="post" novalidate>
                <input type="hidden" name="VehicleId" id="VehicleId" value="@Model.VehicleId" />
                <div class="mb-3">
                    <label for="plate">Placa</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="plate" name="Plate" placeholder="AAA0000" value="@Model.Plate" required />
                        <div class="invalid-feedback" id="plateFeedback">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="model">Modelo</label>
                    <input type="text" class="form-control" id="model" name="Model" placeholder="Onix" value="@Model.Model">
                    <div class="invalid-feedback" id="modelFeedback">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="manufacturer"></label>
                    <select class="custom-select d-block w-100" id="manufacturer" name="ManufacturerId" required>
                        <option value="0">Selecione a Montadora...</option>
                        @foreach (VehicleManagement.Models.Manufacturer manufacturer in VehicleManagement.UI.Services.ManufacturerService.GetAll())
                        {
                            if (manufacturer.ManufacturerId == Model.ManufacturerId)
                            {
                                <option value="@manufacturer.ManufacturerId" selected>@manufacturer.Name</option>
                            }
                            else
                            {
                                <option value="@manufacturer.ManufacturerId">@manufacturer.Name</option>
                            }
                        }
                    </select>
                    <div class="invalid-feedback" id="manufacturerFeedback">
                        É necessário selecionar uma montadora.
                    </div>
                </div>

                <hr class="mb-4">
                <a asp-controller="Vehicles" asp-action="Index" class="btn btn-secondary btn-lg" role="button">Voltar</a>
                <button class="btn btn-primary btn-lg" id="btnSubmit" type="submit">Salvar Alterações</button>
            </form>
        </div>
    </div>
</div>
<script>
    window.onload = () => {
        const btnSubmit = document.getElementById("btnSubmit");
        btnSubmit.addEventListener("click", (event) => {
            event.preventDefault();
            const vehicle = {
                VehicleId: document.getElementById("VehicleId").value,
                Plate: document.getElementById("plate").value,
                Model: document.getElementById("model").value,
                ManufacturerId: document.getElementById("manufacturer").selectedOptions[0].value,
                Manufacturer: {
                    ManufacturerId: document.getElementById("manufacturer").selectedOptions[0].value,
                    Name: document.getElementById("manufacturer").selectedOptions[0].text
                }
            };

            fetch("https://localhost:44367/Vehicles/Save", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(vehicle)
            })
            .then(resp => {
                if (!resp.ok) {
                    const message = `An error has occured: ${resp.status}`
                    console.error(message)
                }
                console.log(resp)
                bootbox.alert({
                    message: `Veículo salvo com sucesso!`,
                    callback: function () {
                        setTimeout(function () {
                            window.location = window.location.origin + '/Vehicles/Index';
                        }, 1000);
                    }
                })
            })
            .catch(err => {
                console.error(err)
            })
        })
    }
</script>