@model VehicleManagement.Models.Vehicle
@{
    ViewBag.Title = Model.Plate;
}

<div class="container">
    <div class="row">
        <div class="col-md-12 order-md-1">
            <h3 class="mb-3">Dados do Veículo</h3>
            <hr class="mb-4">
            <form class="needs-validation" action="@Url.Action("Save", "Vehicles")" method="post" novalidate>
                <div id="validationMessage">

                </div>
                <input type="hidden" name="VehicleId" id="VehicleId" value="@Model.VehicleId" />
                <div class="mb-3">
                    <label for="plate">Placa <span class="text-muted">(Sem traço)</span></label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="plate" name="Plate" placeholder="AAA0000" value="@Model.Plate" required />
                    </div>
                </div>
                <div class="mb-3">
                    <label for="model">Modelo</label>
                    <input type="text" class="form-control" id="model" name="Model" placeholder="Onix" value="@Model.Model">
                </div>
                <div class="mb-3">
                    <label for="manufacturer">Montadora</label>
                    <select class="custom-select d-block w-100" id="manufacturer" name="ManufacturerId" required>
                        <option value="0">Selecione a Montadora...</option>
                        @foreach (VehicleManagement.Models.Manufacturer manufacturer in VehicleManagement.UI.Services.ManufacturerService.GetAll())
                        {
                            if (manufacturer.ManufacturerId == Model.ManufacturerId)
                            {
                                <option value="@manufacturer.ManufacturerId" selected>@manufacturer.Name</option>
                            }
                            else
                            {
                                <option value="@manufacturer.ManufacturerId">@manufacturer.Name</option>
                            }
                        }
                    </select>
                </div>
                <hr class="mb-4">
                <a asp-controller="Vehicles" asp-action="Index" class="btn btn-secondary btn-lg" role="button">Voltar</a>
                <button class="btn btn-primary btn-lg" id="btnSubmit" type="submit">Salvar</button>
            </form>
        </div>
    </div>
</div>
<script>
    window.onload = () => {
        const btnSubmit = document.getElementById("btnSubmit");
        btnSubmit.addEventListener("click", (event) => {
            event.preventDefault();
            if (!validateFields())
                return

            const vehicle = {
                VehicleId: document.getElementById("VehicleId").value,
                Plate: document.getElementById("plate").value,
                Model: document.getElementById("model").value,
                ManufacturerId: document.getElementById("manufacturer").selectedOptions[0].value,
                Manufacturer: {
                    ManufacturerId: document.getElementById("manufacturer").selectedOptions[0].value,
                    Name: document.getElementById("manufacturer").selectedOptions[0].text
                }
            };

            fetch(`${WEB_BASE_URL}/Save`, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(vehicle)
            })
            .then(resp => {
                if (!resp.ok) {
                    const message = `Erro: ${resp.status}`
                    console.error(message)
                } else {
                    bootbox.alert({
                        message: `Veículo salvo com sucesso!`,
                        callback: function () {
                            setTimeout(function () {
                                window.location = window.location.origin + '/Vehicles/Index';
                            }, 1000);
                        }
                    })
                }
            })
            .catch(err => {
                console.error(err)
            })
        })
    }
    function validateFields() {
        const plate = document.getElementById("plate").value;
        if (plate.length != 7 || !/[A-Za-z]{3}[\d]{1}[\w]{1}[\d]{2}/.test(plate)) {
            showFieldsError("A placa digitada é inválida");
            return false;
        }
        const model = document.getElementById("model").value;
        if (model.length == 0) {
            showFieldsError("Por favor digite o modelo do veículo");
            return false;
        }
        const manufacturer = document.getElementById("manufacturer").selectedOptions[0].value;
        if (manufacturer == 0) {
            showFieldsError("Por favor selecione a montadora");
            return false;
        }
        return true;
    }

    function showFieldsError(message) {
        let errorDiv = document.getElementById("validationMessage");
        errorDiv.innerHTML =
            `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                <p>${message}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>`;
    }
</script>