@model IEnumerable<VehicleManagement.Models.Vehicle>
@{
    ViewBag.Title = "Lista de Veículos";
}

<h2>Veículos</h2>
<table class="table">
    <caption>Lista de Veículos</caption>
    <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Placa</th>
            <th scope="col">Modelo</th>
            <th scope="col">Montadora</th>
            <th scope="col">Operações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (VehicleManagement.Models.Vehicle vehicle in Model)
        {
            <tr>
                <th scope="row">@vehicle.VehicleId</th>
                <td>@vehicle.Plate</td>
                <td>@vehicle.Model</td>
                <td>@vehicle.Manufacturer.Name</td>
                <td>
                    <a asp-controller="Vehicles" asp-action="Edit" asp-route-id="@vehicle.VehicleId" class="btn btn-warning" role="button">Alterar</a>
                    <a id="@vehicle.VehicleId" name="delete" onclick="confirmDelete(@vehicle.VehicleId)" class="btn btn-danger" role="button">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function confirmDelete(vehicleId) {
        bootbox.confirm("Confirma a exclusão do veículo?", function (confirmed) {
            if (confirmed) {
                deleteVehicle(vehicleId);
            }
        });
    }
    function deleteVehicle(vehicleId) {
        fetch(`${WEB_BASE_URL}/Delete?id=${vehicleId}`, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        })
        .then(resp => {
            if (!resp.ok) {
                const message = `An error has occured: ${resp.status}`
                console.error(message)
            } else {
                bootbox.alert({
                    message: `Veículo excluído com sucesso!`,
                    callback: function () {
                        setTimeout(function () {
                            window.location = window.location.origin + '/Vehicles/Index';
                        }, 1000);
                    }
                })
            }
        })
        .catch(err => {
            console.error(err)
        })
    }
</script>